# Vite Static Project Variables (Exposed client-side securely via VITE_ prefix)
VITE_SANITY_PROJECT_ID="wgy1a1gg"
VITE_SANITY_DATASET="production"
VITE_SANITY_API_VERSION="2026-07-08"

# Next.js Application Variables
NEXT_PUBLIC_SANITY_PROJECT_ID="wgy1a1gg"
NEXT_PUBLIC_SANITY_DATASET="production"
SANITY_API_VERSION="2026-05-15"
