/*

Template: Donexa - Charity & Donation WordPress Theme
Author: peacefulqode.com
Version: 1.0
Worldwide Education Foundation Canada

*/

@media(max-width:1199px) {
    .container,
    .elementor-section.elementor-section-boxed>.elementor-container,
    .e-con-inner {
        max-width: 960px !important;
    }
}

@media(max-width:1023px) {
    .container,
    .elementor-section.elementor-section-boxed>.elementor-container,
    .e-con-inner {
        max-width: 100% !important;
    }

}