/*

Template: Donexa - Charity & Donation WordPress Theme
Author: peacefulqode.com
Version: 1.0
Worldwide Education Foundation Canada

NOTE: This is main stylesheet of template, This file contains the styling for the actual Template. Please do not change anything here! write in a custom.css file if required!

*/

/*================================================
[  Table of contents  ]
================================================

==> Woocommerce Shop Page
==> Woocommerce Shop Single
==> View Cart
==> Cart
==> Checkout
==> Order Received
==> Login
==> My Account
==> Woocommerce Pagination

======================================
[ End table content ]
======================================*/

/* ################################# */

/* Woocommerce Shop Page */

/* ################################# */
.woocommerce-breadcrumb {
     display: none;
}

/* ################################# */

/* Woocommerce Shop Page */

/* ################################# */
.woocommerce .woocommerce-result-count {
     margin: 10px 0 20px;
}

.woocommerce .woocommerce-ordering {
     margin: 0 0 30px;
}

/*===== Woocommerce Lists =====*/
.woocommerce .products ul,
.woocommerce ul.products {
     margin: 0;
     text-align: center;
}

.woocommerce ul.products li.product .pt-woo-single-product-main .pt-product-item .pt-product-img-inner img {
     border-radius: var(--e-global-border-radius);
}

.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3,
.wc-block-grid__product .wc-block-grid__product-image:not(.wc-block-components-product-image),
.wc-block-grid__product .wc-block-grid__product-title {
     font-size: 22px;
     line-height: 30px;
     color: var(--e-global-color-secondary);
     padding: 0 0 10px;
}

.woocommerce:where(body:not(.woocommerce-uses-block-theme)) ul.products li.product .price {
     font-size: 18px;
     color: var(--e-global-color-text);
     margin-bottom: 0;
     margin-top: 0;
}

.woocommerce ul.products li.product .price ins {
     font-weight: 400;
     text-decoration: none;
}

.woocommerce ul.products li.product .price del {
     margin-right: 5px;
}

.woocommerce ul.products li.product .onsale {
     min-width: auto;
     min-height: auto;
     padding: 2px 15px;
     font-size: 16px;
     line-height: 24px;
     letter-spacing: 0.02em;
     text-transform: uppercase;
     font-weight: 400;
     margin: 0;
     top: 10px;
     right: 10px;
     z-index: 0;
     background-color: var(--e-global-color-primary);
     -webkit-border-radius: 900px;
     -moz-border-radius: 900px;
     border-radius: 900px;
}

.woocommerce ul.products li.product .button {
     font-size: 16px;
     padding: 8px 30px;
     font-weight: 400;
     font-family: var(--e-global-typography-primary-font-family);

}

.woocommerce ul.products li.product .button.loading::after {
     top: 9px;
     right: 15px;
}

.woocommerce ul.products li.product .button.loading {
     padding: 8px 40px 8px 30px;
}

.woocommerce a.added_to_cart {
     padding-top: .5em;
     display: inline-block;
     position: absolute;
     display: block;
     font-weight: var(--e-global-typography-text-font-weight);
     text-transform: uppercase;
     font-size: 14px;
     left: 50%;
     -webkit-transform: translateX(-50%);
     -ms-transform: translateX(-50%);
     transform: translateX(-50%);
}

/* ################################# */

/* Woocommerce Shop Single */

/* ################################# */
.woocommerce div.product div.images img {
     border-radius: var(--e-global-border-radius);
     margin-bottom: 15px;
}

.woocommerce div.product div.images .flex-control-thumbs {
     display: flex;
     gap: 15px;
}

.woocommerce ul.products li.product a img,
.wc-block-grid__products .wc-block-grid__product-image img {
     border-radius: var(--e-global-border-radius);
}

.woocommerce:where(body:not(.woocommerce-uses-block-theme)) div.product p.price,
.woocommerce:where(body:not(.woocommerce-uses-block-theme)) div.product p.price,
.woocommerce:where(body:not(.woocommerce-uses-block-theme)) div.product span.price {
     color: var(--e-global-color-secondary);
     font-size: 22px;
     line-height: 30px;
     margin-top: 10px;
}

.woocommerce div.product p.price ins,
.woocommerce div.product span.price ins {
     font-weight: 400;
     text-decoration: none;
}

.woocommerce span.onsale {
     min-width: auto;
     min-height: auto;
     padding: 2px 15px;
     font-size: 16px;
     line-height: 24px;
     letter-spacing: 0.02em;
     text-transform: uppercase;
     margin: 0;
     top: 10px;
     left: 10px;
     z-index: 0;
     font-weight: 700;
     background-color: var(--e-global-color-primary);
     -webkit-border-radius: 900px;
     -moz-border-radius: 900px;
     border-radius: 900px;
}

.woocommerce div.product form.cart div.quantity {
     margin-right: 10px;
}

.woocommerce .quantity .qty {
     border-radius: 5px;
}

.woocommerce div.product .entry-summary .product_meta {
     display: flex;
     flex-direction: column;
     gap: 20px;
}

.single-product .entry-summary .product_meta .posted_in,
.single-product .entry-summary .product_meta .sku_wrapper {
     color: var(--e-global-color-secondary);
     font-weight: var(--e-global-typography-primary-font-weight);
     font-family: var(--e-global-typography-primary-font-family);
}

.single-product .entry-summary .product_meta .sku_wrapper span {
     color: var(--e-global-color-text);
}

.woocommerce div.product .entry-summary .product_meta .tagged_as {
     font-family: var(--e-global-typography-primary-font-family);
     color: var(--e-global-color-secondary);
     text-transform: capitalize;
     font-weight: var(--e-global-typography-primary-font-weight);
     display: inline-block;
}

.woocommerce div.product .entry-summary .product_meta .tagged_as a {
     font-size: 18px;
     line-height: 26px;
     font-weight: 400;
     letter-spacing: 0.04em;
     text-transform: capitalize;
     font-family: var(--e-global-typography-text-font-family);
     background: var(--e-global-color-grey);
     margin: 0;
     display: inline-block;
     color: var(--e-global-color-primary);
     padding: 4px 16px;
     border: 1px solid var(--e-global-color-grey);
     transition: all 0.5s ease-in-out;
     -webkit-transition: all 0.5s ease-in-out;
     -o-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
     -ms-transition: all 0.5s ease-in-out;
     -webkit-border-radius: var(--e-global-big-border-radius);
     -moz-border-radius: var(--e-global-big-border-radius);
     border-radius: var(--e-global-big-border-radius);
}

.single-product .entry-summary .product_meta .posted_in a {
     color: var(--e-global-color-primary);
     font-family: var(--e-global-typography-text-font-family);
     font-weight: 400;
}

.woocommerce div.product form.cart .variations label {
     font-weight: var(--e-global-typography-text-font-weight);
     color: var(--e-global-color-secondary);
     padding: 0;
     line-height: 3;
     vertical-align: middle;
}

.woocommerce div.product form.cart .variations select {
     margin-bottom: 15px;
     background-color: var(--e-global-color-grey);
}

.woocommerce div.product form.cart .variations td,
.woocommerce div.product form.cart .variations th {
     border: 0;
     line-height: 1em;
     padding: 0;
     text-align: left;
}

.woocommerce div.product form.cart .button,
.woocommerce #review_form #respond .form-submit input {
     overflow: hidden;
     font-family: var(--e-global-typography-primary-font-family);
     font-weight: 500;
     text-transform: capitalize;
     background: var(--e-global-color-primary);
     line-height: 28px;
     letter-spacing: 0.02em;
     font-size: 18px;
     padding: 10px 30px;
     position: relative;
     width: auto;
     height: auto;
     color: var(--e-global-color-white);
     vertical-align: middle;
     display: inline-block;
     text-decoration: none;
     -webkit-border-radius: 900px;
     -moz-border-radius: 900px;
     border-radius: 900px;
     transition: var(--transition-duration);
     border: none;
}

.woocommerce div.product form.cart .button:focus,
.woocommerce div.product form.cart .button:hover,
.woocommerce #review_form #respond .form-submit input:hover,
.woocommerce #review_form #respond .form-submit input:focus {
     background: var(--e-global-color-secondary);
     color: var(--e-global-color-white);
}

.woocommerce div.product form.cart .reset_variations {
     display: inline-block;
     position: relative;
     top: 8px;
     text-transform: uppercase;
}

.woocommerce div.product .woocommerce-variation-price {
     margin-bottom: 20px;
}

.woocommerce .quantity .qty {
     padding: 0;
}

.woocommerce div.product form.cart .group_table td {
     vertical-align: middle;
     font-size: 18px;
}

.single-product ul.products li.product {
     margin-bottom: 0;
}

@media(max-width:479px) {

     .woocommerce ul.products[class*=columns-] li.product,
     .woocommerce-page ul.products[class*=columns-] li.product {
          width: 100%;
     }

     .woocommerce .woocommerce-ordering,
     .woocommerce-page .woocommerce-ordering {
          width: 100%;
     }

}

/*===== Woocommerce Tabs =====*/
.woocommerce div.product .woocommerce-tabs ul.tabs {
     padding: 0px;
     margin: 0;
     border: none;
     line-height: 0
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
     margin: 0 10px 0 0;
     padding: 0;
     border: none;
     border-radius: 10px 10px 0 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
     font-weight: 400;
     position: relative;
     top: 0;
     display: block;
     float: left;
     font-size: 18px;
     line-height: 2;
     border: none;
     cursor: pointer;
     padding: 12px 30px;
     transition: var(--transition-duration);
     text-transform: uppercase;
     letter-spacing: 0.02em;
     border-radius: 10px 10px 0 0;
     background: var(--e-global-color-secondary);
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
     color: var(--e-global-color-white);
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active a,
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover {
     background: var(--e-global-color-primary);
     z-index: 2;
     border-bottom-color: var(--e-global-color-primary);
     color: var(--e-global-color-white);
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce div.product .woocommerce-tabs ul.tabs:before {
     display: none;
     border: none
}

.woocommerce div.product .woocommerce-tabs .panel {
     margin-top: 0;
     padding: 30px;
     border: 1px solid rgba(3, 27, 78, 0.2);
     border-radius: 0;
     margin-top: -1px
}

.woocommerce-Tabs-panel h2 {
     font-size: 24px;
     margin-bottom: 20px;
     line-height: 32px
}

/*===== Woocommerce Table =====*/
.woocommerce table.shop_attributes {
     border: 1px solid rgba(3, 27, 78, 0.2);
}

.woocommerce table.shop_attributes th {
     font-weight: var(--e-global-typography-text-font-weight);
     color: var(--e-global-color-secondary) !important;
}

.woocommerce table.shop_attributes th,
.woocommerce table.shop_attributes td {
     padding: 10px 20px;
     color: var(--e-global-color-text);
     border: none;
     border-right: 1px solid rgba(3, 27, 78, 0.2);
     text-align: left;
}

h3#order_review_heading,
.woocommerce-billing-fields h3,
.woocommerce-shipping-fields h3,
.cart_totals h2,
.related.products h2 {
     font-size: 32px;
     line-height: 40px;
     margin-bottom: 20px;
}

/*===== Woocommerce Review =====*/
.woocommerce #review_form #respond {
     width: 100%;
}

.woocommerce #reviews #comment {
     height: 130px;
}

/* ################################# */

/* View cart */

/* ################################# */
.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
     background: var(--e-global-color-grey);
     outline: none;
}

.woocommerce-message {
     border-top-color: var(--e-global-color-primary);
     outline: none;
}

.woocommerce-message::before {
     color: var(--e-global-color-primary);
}

.woocommerce .woocommerce-error .button,
.woocommerce .woocommerce-info .button,
.woocommerce .woocommerce-message .button,
.woocommerce-page .woocommerce-error .button,
.woocommerce-page .woocommerce-info .button,
.woocommerce-page .woocommerce-message .button,
.woocommerce table.my_account_orders .button {
     padding: 4px 15px;
     font-size: 14px;
     font-family: var(--e-global-typography-text-font-family);
}

.woocommerce-cart .wc-block-grid .wc-block-grid__product-onsale,
.woocommerce-cart .wc-block-grid__product-image .wc-block-grid__product-onsale {
     min-width: auto;
     min-height: auto;
     padding: 2px 15px;
     line-height: 30px;
     margin: 0;
     top: 10px;
     right: 10px;
     z-index: 9;
     font-weight: normal;
     border-radius: 900px;
     background-color: var(--e-global-color-primary);
     color: var(--e-global-color-white);
     border: none;
     font-size: 15px;
}

.woocommerce-cart .wc-block-grid__product .wc-block-grid__product-title {
     margin: 0;
}

.woocommerce-cart .wc-block-grid__product .wc-block-grid__product-price.price {
     font-size: 16px;
     color: var(--e-global-color-text);
     margin-bottom: 0;
}

.woocommerce-cart .wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link {
     font-size: 16px;
     padding: 8px 30px;
     border-radius: 900px;
     margin-top: 1em;
}

.woocommerce-cart h2.wp-block-heading.has-text-align-center {
     margin-bottom: 45px;
}

/* ################################# */

/* Cart */

/* ################################# */
.wc-block-cart__empty-cart__title.with-empty-cart-icon:before {
     color: var(--e-global-color-primary);
}

.is-large.wc-block-cart .wc-block-cart-items {
     border: 1px solid hsla(0, 0%, 7%, .11);
}

.wc-block-components-radio-control .wc-block-components-radio-control__input {
     padding: 0;
}

.is-large.wc-block-cart .wc-block-cart-items td,
.is-large.wc-block-cart .wc-block-cart-items th {
     text-align: left;
}

.woocommerce-cart .is-large.wc-block-cart .wc-block-cart-items th {
     padding: 10px 16px !important;
     color: var(--e-global-color-secondary);
}

.woocommerce-cart .wc-block-components-product-badge {
     background: var(--e-global-color-primary);
     border-color: var(--e-global-color-primary);
     color: var(--e-global-color-white);
}

.woocommerce-cart .wc-block-components-quantity-selector input.wc-block-components-quantity-selector__input {
     height: 36px;
     font-size: 14px;
     font-weight: var(--e-global-typography-text-font-weight);
}

.woocommerce-cart .editor-styles-wrapper table.wc-block-cart-items .wc-block-cart-items__row .wc-block-cart-item__quantity .wc-block-cart-item__remove-link,
.woocommerce-cart table.wc-block-cart-items .wc-block-cart-items__row .wc-block-cart-item__quantity .wc-block-cart-item__remove-link {
     text-transform: uppercase;
     color: var(--e-global-color-primary);
}

.woocommerce-cart .is-large.wc-block-cart .wc-block-cart__totals-title {
     color: var(--e-global-color-secondary);
     font-size: 24px;
     line-height: 32px;
}

.woocommerce-cart .is-large.wc-block-cart {
     margin-bottom: 0;
}

.wc-block-components-totals-wrapper,
.wc-block-components-product-price {
     color: var(--e-global-color-secondary);
}

.wp-element-button,
.woocommerce .woocommerce-form-login .woocommerce-form-login__submit,
.woocommerce-lost-password .woocommerce-ResetPassword .woocommerce-Button,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce button.button {
     overflow: hidden;
     font-family: var(--e-global-typography-text-font-family);
     font-weight: 500;
     text-transform: uppercase;
     background: var(--e-global-color-primary);
     line-height: 2;
     letter-spacing: 0.02em;
     font-size: 18px;
     padding: 12px 30px;
     position: relative;
     width: auto;
     height: auto;
     color: var(--e-global-color-white);
     vertical-align: middle;
     text-decoration: none;
     -webkit-border-radius: 900px;
     -moz-border-radius: 900px;
     border-radius: 900px;
     transition: var(--transition);
     border: none;
}

.wp-element-button:hover,
.wp-element-button:focus,
.woocommerce .woocommerce-form-login .woocommerce-form-login__submit:hover,
.woocommerce .woocommerce-form-login .woocommerce-form-login__submit:focus,
.woocommerce-lost-password .woocommerce-ResetPassword .woocommerce-Button:hover,
.woocommerce-lost-password .woocommerce-ResetPassword .woocommerce-Button:focus,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce button.button:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce button.button:focus {
     background: var(--e-global-color-secondary);
     color: var(--e-global-color-white);
}

/* ################################# */

/* Checkout */

/* ################################# */
.wc-block-components-order-summary .wc-block-components-order-summary-item__quantity {
     background-color: var(--e-global-color-primary) !important;
     color: var(--e-global-color-white) !important;
     border: inherit !important;
     padding: 3px !important;
}

.wc-block-components-order-summary .wc-block-components-order-summary-item__description .wc-block-components-product-metadata,
.wc-block-components-order-summary .wc-block-components-order-summary-item__description p {
     color: var(--e-global-color-text);
}

.wp-block-woocommerce-checkout-order-summary-block .wc-block-components-checkout-order-summary__title .wc-block-components-checkout-order-summary__title-text {
     color: var(--e-global-color-secondary);
     font-weight: var(--e-global-typography-text-font-weight);
}

.wc-block-components-validation-error {
     display: table-cell;
}

.wc-block-components-checkbox .wc-block-components-checkbox__input[type=checkbox] {
     padding: 0;
}

.wc-block-components-address-card address .wc-block-components-address-card__address-section:first-child {
     color: var(--e-global-color-secondary);
     font-weight: var(--e-global-typography-text-font-weight);
}

.woocommerce-checkout .wc-block-components-address-card__edit {
     background: var(--e-global-color-grey);
     color: var(--e-global-color-secondary);
     text-decoration: none;
}

.woocommerce-checkout .wc-block-components-address-card__edit:hover {
     background: var(--e-global-color-primary);
     color: var(--e-global-color-white);
     text-decoration: none;
}

.wc-block-checkout__terms.wc-block-checkout__terms--with-separator {
     font-size: 16px;
     line-height: 1;
     font-weight: var(--e-global-typography-text-font-weight);
}

.wp-block-woocommerce-checkout-actions-block .wc-block-checkout__actions_row {
     color: var(--e-global-color-secondary);
}

.wp-block-woocommerce-checkout {
     padding: 0;
}

.wc-block-components-sidebar-layout {
     margin: 0;
}

/* ################################# */

/* Order Received */

/* ################################# */
.woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received {
     padding: 10px;
     color: var(--e-global-color-white);
     background: green;
}

.woocommerce ul.order_details {
     padding: 0;
}

.woocommerce ul.order_details li {
     color: var(--e-global-color-secondary);
}

.woocommerce-order-details .woocommerce-order-details__title,
.woocommerce .woocommerce-customer-details .woocommerce-column__title {
     margin-bottom: 15px;
}

.woocommerce table.shop_table,
.woocommerce .woocommerce-customer-details address {
     border-radius: 0;
     background: var(--e-global-color-grey);
     border: 1px solid var(--e-global-color-grey);
     border-spacing: 0;
}

.woocommerce table.shop_table th,
.woocommerce table.shop_table td {
     text-align: left;
}

.woocommerce table.shop_table th,
.woocommerce table.shop_table tbody th,
.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th {
     line-height: 2;
     font-weight: var(--e-global-typography-text-font-weight);
     color: var(--e-global-color-secondary);
}

.woocommerce .woocommerce-customer-details {
     margin-bottom: 0;
}

/* ################################# */

/* Login */

/* ################################# */
.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
     background: var(--e-global-color-grey);
     margin: 20px 0 0;
     border-color: var(--e-global-color-grey);
     border-radius: var(--pt-border-radius);
     padding: 45px;
}

.woocommerce-account .woocommerce form .form-row label,
.woocommerce-account .woocommerce-page form .form-row label {
     text-transform: uppercase;
     color: var(--e-global-color-secondary);
     margin-bottom: 5px;
}

.woocommerce-account .woocommerce form .form-row .input-text,
.woocommerce-account .woocommerce form .form-row select {
     border-radius: 900px;
     height: 54px;
     padding: 10px 20px 10px 30px;
     line-height: 54px;
}

.woocommerce-account .woocommerce form .form-row .input-text:focus,
.woocommerce-account .woocommerce form .form-row .input-text:hover,
.woocommerce-account .woocommerce form .form-row select:focus,
.woocommerce-account .woocommerce form .form-row select:hover {
     border-color: var(--e-global-color-primary);
     outline: none;
}

/* ################################# */

/* My Account  */

/* ################################# */

.woocommerce-form__label-for-checkbox {
     margin-top: 5px;
     margin-left: 30px;
}

.woocommerce form .form-row {
     padding: 0;
     margin: 0 0 15px;
}

.woocommerce-MyAccount-navigation ul {
     margin: 0 15px 0 0;
     padding: 0;
     border: 1px solid var(--e-global-color-grey);
}

.woocommerce-MyAccount-navigation li {
     list-style: none;
     display: inline-block;
     width: 100%;
     border-bottom: 1px solid var(--e-global-color-grey);
}

.woocommerce-MyAccount-navigation li a {
     padding: 10px 15px;
     color: var(--e-global-color-secondary);
     display: inline-block;
     width: 100%;
     text-decoration: none;
}

.woocommerce-MyAccount-navigation li a:hover,
.woocommerce-MyAccount-navigation li.is-active a {
     color: var(--e-global-color-white);
     text-decoration: none;
     background: var(--e-global-color-primary);
}

.woocommerce-MyAccount-navigation li a:before {
     float: right;
     font-family: "Ionicons";
     font-weight: bold;
     font-size: 20px;
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--dashboard a:before {
     content: "\f2b3";
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--orders a:before {
     content: "\f3f7";
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--downloads a:before {
     content: "\f41f";
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-address a:before {
     content: "\f455";
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--payment-methods a:before {
     content: "\f3d1";
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-account a:before {
     content: "\f3a0";
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--customer-logout a:before {
     content: "\f29f";
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--subscriptions a:before {
     content: "\f064";
}

/* ################################# */

/* Woocommerce Pagination */

/* ################################# */
.woocommerce nav.woocommerce-pagination ul {
     margin: 0;
     border: none;
     display: flex;
     justify-content: center;
}

.woocommerce .woocommerce-pagination ul.page-numbers li,
.woocommerce-page .woocommerce-pagination ul.page-numbers li {
     border: none;
     margin-right: 10px;
}

.woocommerce nav.woocommerce-pagination ul li:last-child {
     margin-right: 0;
}

.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
     background-color: var(--e-global-color-primary);
     border: none;
     color: var(--e-global-color-white);
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
     position: relative;
     display: block;
     height: 50px;
     width: 50px;
     text-align: center;
     line-height: 50px;
     padding: 0;
     margin: 0;
     color: var(--e-global-color-secondary);
     background-color: var(--e-global-color-grey);
     border: none;
     border-radius: 0;
     font-size: 16px;
     font-weight: 400;
     -webkit-border-radius: 900px;
     -moz-border-radius: 900px;
     border-radius: 900px;
}

/*================================================
	Shop Sidebar
================================================*/
.wc-block-components-price-slider__actions button[type=submit]:not(.wp-block-search__button).wc-block-components-filter-submit-button {
     font-size: 16px;
     padding: 4px 20px;
}

.widget .wc-block-components-price-slider__range-input-progress {
     --track-background: var(--e-global-color-primary);
}

.widget .wc-block-components-price-slider {
     margin-bottom: 0;
}

.widget .wc-block-components-price-slider__range-input::-webkit-slider-thumb:hover {
     background: var(--e-global-color-primary);
     border-color: var(--e-global-color-primary);
}

.widget .wc-block-components-price-slider__range-input::-webkit-slider-thumb {
     border-color: var(--e-global-color-primary);
}

.widget .wc-block-components-price-slider__range-input::-webkit-slider-runnable-track {
     background: var(--e-global-color-primary) !important;
}

.widget .wc-block-components-filter-reset-button {
     font-weight: 400;
     line-height: 2;
     font-size: 16px;
     letter-spacing: 0.02em;
     text-decoration: none;
}

.pt-widget-menu.widget {
     background: var(--e-global-color-primary);
}

.pt-widget-menu.widget .wp-block-heading {
     color: var(--e-global-color-white);
}

.pt-shop-post {
     display: flex;
     align-items: center;
     margin-bottom: 20px;
     border-bottom: none;
     padding-bottom: 0;
}

.pt-shop-post:last-child {
     margin-bottom: 0;
     border: none;
     padding: 0;
}

.pt-shop-post .pt-shop-post-media {
     margin-right: 15px;
}

.pt-shop-post .pt-shop-post-media img {
     width: 90px;
     height: 90px;
     border-radius: var(--e-global-border-radius);
}

.pt-shop-post .pt-shoppost-info {
     flex: 1;
     align-self: center;
}

.pt-shop-post .pt-shoppost-info span {
     font-weight: 400;
     font-size: 18px;
     line-height: 26px;
     text-transform: uppercase;
     color: var(--e-global-color-white);
     letter-spacing: 0.02em;
     margin-top: 5px;
     display: inline-block;
}

.pt-shop-post .pt-shoppost-info h6 {
     font-size: 24px;
     line-height: 32px;
     margin-bottom: 0;
     overflow: hidden;
     color: var(--e-global-color-white);
}

.pt-shop-post .pt-shoppost-info h6 a:hover {
     color: var(--e-global-color-white);
     text-decoration: underline;
}

.wc-block-product-filter-price-slider .text input[type=text] {
     border: none !important;
     background: var(--e-global-color-grey);
}