/*!
*    ______ _       _   _
*    |  ____| |     | | (_)
*    | |__  | | __ _| |_ _  ___ ___  _ __
*    |  __| | |/ _` | __| |/ __/ _ \| '_ \
*    | |    | | (_| | |_| | (_| (_) | | | |
*    |_|    |_|\__,_|\__|_|\___\___/|_| |_|
*
*         https://www.flaticon.com
*/

@font-face {
    font-family: "flaticon_charity";
    src: url("./flaticon_charity.woff2?a8b7dfc935cb66188afc9d3c62d7902e") format("woff2"),
url("./flaticon_charity.woff?a8b7dfc935cb66188afc9d3c62d7902e") format("woff"),
url("./flaticon_charity.eot?a8b7dfc935cb66188afc9d3c62d7902e#iefix") format("embedded-opentype"),
url("./flaticon_charity.ttf?a8b7dfc935cb66188afc9d3c62d7902e") format("truetype"),
url("./flaticon_charity.svg?a8b7dfc935cb66188afc9d3c62d7902e#flaticon_charity") format("svg")
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_charity !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-twitter:before {
    content: "\f101";
}
.flaticon-loupe:before {
    content: "\f102";
}
.flaticon-shopping-bag:before {
    content: "\f103";
}
.flaticon-shopping-cart:before {
    content: "\f104";
}
.flaticon-check:before {
    content: "\f105";
}
.flaticon-checked:before {
    content: "\f106";
}
.flaticon-instagram:before {
    content: "\f107";
}
.flaticon-mail:before {
    content: "\f108";
}
.flaticon-location:before {
    content: "\f109";
}
.flaticon-back:before {
    content: "\f10a";
}
.flaticon-clock:before {
    content: "\f10b";
}
.flaticon-market:before {
    content: "\f10c";
}
.flaticon-calendar:before {
    content: "\f10d";
}
.flaticon-schedule:before {
    content: "\f10e";
}
.flaticon-check-1:before {
    content: "\f10f";
}
.flaticon-linkedin:before {
    content: "\f110";
}
.flaticon-right:before {
    content: "\f111";
}
.flaticon-down-arrow:before {
    content: "\f112";
}
.flaticon-sms:before {
    content: "\f113";
}
.flaticon-circle:before {
    content: "\f114";
}
.flaticon-play-button-arrowhead:before {
    content: "\f115";
}
.flaticon-bottom-right:before {
    content: "\f116";
}
.flaticon-quote:before {
    content: "\f117";
}
.flaticon-pin:before {
    content: "\f118";
}
.flaticon-facebook:before {
    content: "\f119";
}
.flaticon-linkedin-1:before {
    content: "\f11a";
}
.flaticon-placeholder:before {
    content: "\f11b";
}
.flaticon-location-1:before {
    content: "\f11c";
}
.flaticon-plus:before {
    content: "\f11d";
}
.flaticon-check-2:before {
    content: "\f11e";
}
.flaticon-delete:before {
    content: "\f11f";
}
.flaticon-menu:before {
    content: "\f120";
}
.flaticon-sparkle:before {
    content: "\f121";
}
.flaticon-dot:before {
    content: "\f122";
}
.flaticon-star:before {
    content: "\f123";
}
.flaticon-chevron:before {
    content: "\f124";
}
.flaticon-left-chevron:before {
    content: "\f125";
}
.flaticon-right-arrow:before {
    content: "\f126";
}
.flaticon-dots-menu:before {
    content: "\f127";
}
.flaticon-date:before {
    content: "\f128";
}
.flaticon-quotation:before {
    content: "\f129";
}
.flaticon-minus-sign:before {
    content: "\f12a";
}
.flaticon-user:before {
    content: "\f12b";
}
.flaticon-bubble-chat:before {
    content: "\f12c";
}
.flaticon-down:before {
    content: "\f12d";
}
.flaticon-next:before {
    content: "\f12e";
}
.flaticon-app:before {
    content: "\f12f";
}
.flaticon-award:before {
    content: "\f130";
}
.flaticon-share:before {
    content: "\f131";
}
.flaticon-twitter-1:before {
    content: "\f132";
}
.flaticon-teddy-bear:before {
    content: "\f133";
}
.flaticon-youtube:before {
    content: "\f134";
}
.flaticon-blood-donation:before {
    content: "\f135";
}
.flaticon-email:before {
    content: "\f136";
}
.flaticon-animal-care:before {
    content: "\f137";
}
.flaticon-headset:before {
    content: "\f138";
}
.flaticon-red-ribbon:before {
    content: "\f139";
}
.flaticon-help:before {
    content: "\f13a";
}
.flaticon-cheque:before {
    content: "\f13b";
}
.flaticon-water:before {
    content: "\f13c";
}
.flaticon-animal-shelter:before {
    content: "\f13d";
}
.flaticon-scholarship:before {
    content: "\f13e";
}
.flaticon-medicine:before {
    content: "\f13f";
}
.flaticon-donation:before {
    content: "\f140";
}
.flaticon-donation-1:before {
    content: "\f141";
}
.flaticon-growth:before {
    content: "\f142";
}
.flaticon-receive:before {
    content: "\f143";
}
.flaticon-map:before {
    content: "\f144";
}
.flaticon-shelter:before {
    content: "\f145";
}
.flaticon-phone-call:before {
    content: "\f146";
}
.flaticon-heart:before {
    content: "\f147";
}
.flaticon-instagram-1:before {
    content: "\f148";
}
.flaticon-dove:before {
    content: "\f149";
}
.flaticon-facebook-1:before {
    content: "\f14a";
}
.flaticon-bag:before {
    content: "\f14b";
}
.flaticon-sharing:before {
    content: "\f14c";
}
.flaticon-megaphone:before {
    content: "\f14d";
}
.flaticon-disabled-person:before {
    content: "\f14e";
}
.flaticon-volunteer:before {
    content: "\f14f";
}
.flaticon-donate:before {
    content: "\f150";
}
.flaticon-money:before {
    content: "\f151";
}
.flaticon-envelope:before {
    content: "\f152";
}
.flaticon-coin:before {
    content: "\f153";
}
.flaticon-freedom:before {
    content: "\f154";
}
.flaticon-blood-donation-1:before {
    content: "\f155";
}
.flaticon-shirt:before {
    content: "\f156";
}
.flaticon-clothes:before {
    content: "\f157";
}
.flaticon-donation-2:before {
    content: "\f158";
}
.flaticon-help-1:before {
    content: "\f159";
}
.flaticon-hand:before {
    content: "\f15a";
}
.flaticon-network:before {
    content: "\f15b";
}
.flaticon-happiness:before {
    content: "\f15c";
}
.flaticon-give-love:before {
    content: "\f15d";
}
.flaticon-give:before {
    content: "\f15e";
}
.flaticon-food:before {
    content: "\f15f";
}
.flaticon-donation-3:before {
    content: "\f160";
}
.flaticon-donation-4:before {
    content: "\f161";
}
.flaticon-delivery:before {
    content: "\f162";
}
.flaticon-give-love-1:before {
    content: "\f163";
}
.flaticon-invitation:before {
    content: "\f164";
}
.flaticon-balloon:before {
    content: "\f165";
}
.flaticon-piggy-bank:before {
    content: "\f166";
}
.flaticon-present:before {
    content: "\f167";
}
.flaticon-book:before {
    content: "\f168";
}
.flaticon-cap:before {
    content: "\f169";
}
.flaticon-love:before {
    content: "\f16a";
}
.flaticon-plant:before {
    content: "\f16b";
}
.flaticon-earth:before {
    content: "\f16c";
}
.flaticon-medicine-1:before {
    content: "\f16d";
}
.flaticon-vest:before {
    content: "\f16e";
}
.flaticon-blood:before {
    content: "\f16f";
}
.flaticon-location-2:before {
    content: "\f170";
}
.flaticon-ambulance:before {
    content: "\f171";
}
.flaticon-money-1:before {
    content: "\f172";
}
.flaticon-events:before {
    content: "\f173";
}
.flaticon-open-box:before {
    content: "\f174";
}
.flaticon-pills:before {
    content: "\f175";
}
.flaticon-monitor:before {
    content: "\f176";
}
.flaticon-blood-1:before {
    content: "\f177";
}
.flaticon-email-1:before {
    content: "\f178";
}
.flaticon-like:before {
    content: "\f179";
}
.flaticon-hands:before {
    content: "\f17a";
}
.flaticon-document:before {
    content: "\f17b";
}
.flaticon-gift:before {
    content: "\f17c";
}
.flaticon-education:before {
    content: "\f17d";
}
.flaticon-piggy:before {
    content: "\f17e";
}
.flaticon-vegetable:before {
    content: "\f17f";
}

